footer {
    background: var(--color-primary-variant);
    padding: 3rem 0;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 7.5rem;
    height: 22rem;
    

}

footer a {
    color: var(--color-bg);
}
.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

